<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      include includes/header.pug

      main.main(role='main')
        section.typical-section
          .container.typical-section__container
            .row.typical-section__row
              .row__col-3.typical-section__col-aside
                aside.aside-page.typical-section__aside
                  nav.aside-page__nav
                    ul.aside-page__list
                      li.aside-page__item
                        a.js-aside-nav-link-toggle.aside-page__link.is-active(href="#") О компании
                        ul.aside-page__sub.is-show
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="about-contacts.html") Контакты и реквизиты
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="about-vacancy.html") Вакансии
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="about-news.html") Новости
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Важная информация
                          li.aside-page__sub-item
                            a.js-aside-nav-link-toggle.aside-page__sub-link.is-active(href="#") Акционерам и инвесторам
                            ul.aside-page__sub-second.is-show
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="about-share-capital-structure.html") Структура акционерного капитала
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Устав
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="about-decisions-board-directors.html") Решения Совета директоров
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link.is-active(href="about-information-about-meetings-shareholders.html") Информация о собраниях акционеров
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="about-information-about-auditor.html") Информация об аудиторе
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Финансовая отчетность
                      li.aside-page__item
                        a.js-aside-nav-link-toggle.aside-page__link(href="#") Услуги
                        ul.aside-page__sub
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="services-legal-entities.html") Юридическим лицам
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="services-individuals.html") Физическим лицам
                      li.aside-page__item
                        a.aside-page__link(href="electricity.html") Электроэнергия
                      li.aside-page__item
                        a.js-aside-nav-link-toggle.aside-page__link(href="#") Закупки
                        ul.aside-page__sub
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Сведения о заключенных договорах
                          li.aside-page__sub-item
                            a.js-aside-nav-link-toggle.aside-page__sub-link(href="#") Управление закупочной деятельностью
                            ul.aside-page__sub-second
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Положение и приложения
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Субъекты малого и среднего предпринимательства
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") План закупки 2020
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") План закупки 2021
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") План закупки 2022
                          li.aside-page__sub-item
                            a.js-aside-nav-link-toggle.aside-page__sub-link(href="#") Извещения о проведении закупок
                            ul.aside-page__sub-second
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="procurement-notices-2020.html") 2020
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2021
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2022
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2023
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Сведения о применяемых электронных площадках
              .row__col-9.typical-section__col-main
                .typical-section__main
                  h1.typical-section__main-title Информация о собраниях акционеров
                  .typical-section__doc-list
                    .typical-section__doc-card
                      .typical-section__doc-card-list
                        .link-document.typical-section__doc-card-item
                          .link-document__inner
                            svg.link-document__icon
                              use(xlink:href="images/sprite.svg#file-attach")
                            .link-document__content
                              a(href="#").link-document__link Выписка ПП 14пр_МРСК С-З_03.07._2020
                        .link-document.typical-section__doc-card-item
                          .link-document__inner
                            svg.link-document__icon
                              use(xlink:href="images/sprite.svg#file-attach")
                            .link-document__content
                              a(href="#").link-document__link Выписка ПП 14пр_МРСК С-З_30.06.2021
                        .link-document.typical-section__doc-card-item
                          .link-document__inner
                            svg.link-document__icon
                              use(xlink:href="images/sprite.svg#file-attach")
                            .link-document__content
                              a(href="#").link-document__link Выписка ПП 21пр_Россети С-З_30.06.2022
                  footer.typical-section__footer
                    a.btn.btn--theme-accent.btn--size-md.typical-section__footer-btn(href='#')
                      span.btn__inner
                        span.btn__title Архив

      include includes/footer.pug

    include includes/foot.pug