<!DOCTYPE html>
html(lang='ru')
  include includes/head.pug

  body

    #root
      include includes/header.pug

      main.main(role='main')
        section.typical-section
          .container.typical-section__container
            .row.typical-section__row
              .row__col-3.typical-section__col-aside
                aside.aside-page.typical-section__aside
                  nav.aside-page__nav
                    ul.aside-page__list
                      li.aside-page__item
                        a.js-aside-nav-link-toggle.aside-page__link.is-active(href="#") О компании
                        ul.aside-page__sub.is-show
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Контакты и реквизиты
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Вакансии
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#").is-active Новости
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Важная информация
                          li.aside-page__sub-item
                            a.js-aside-nav-link-toggle.aside-page__sub-link(href="#") Акционерам и инвесторам
                            ul.aside-page__sub-second
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Структура акционерного капитала
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Устав
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Решения Совета директоров
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Информация о собраниях акционеров
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Информация об аудиторе
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Финансовая отчетность
                      li.aside-page__item
                        a.aside-page__link(href="#") Услуги
                        ul.aside-page__sub
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Юридическим лицам
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Физическим лицам
                      li.aside-page__item
                        a.aside-page__link(href="#") Электроэнергия
                      li.aside-page__item
                        a.js-aside-nav-link-toggle.aside-page__link(href="#") Закупки
                        ul.aside-page__sub
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Сведения о заключенных договорах
                          li.aside-page__sub-item
                            a.js-aside-nav-link-toggle.aside-page__sub-link(href="#") Управление закупочной деятельностью
                            ul.aside-page__sub-second
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Положение и приложения
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") Субъекты малого и среднего предпринимательства
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") План закупки 2020
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") План закупки 2021
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") План закупки 2022
                          li.aside-page__sub-item
                            a.js-aside-nav-link-toggle.aside-page__sub-link(href="#") Извещения о проведении закупок
                            ul.aside-page__sub-second
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2020
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2021
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2022
                              li.aside-page__sub-second-item
                                a.aside-page__sub-second-link(href="#") 2023
                          li.aside-page__sub-item
                            a.aside-page__sub-link(href="#") Сведения о применяемых электронных площадках
              .row__col-9.typical-section__col-main
                .typical-section__main
                  h1.typical-section__main-title Новости
                  .typical-section__news-list
                    article.news-tile.typical-section__news-item
                      .news-tile__inner
                        h3.news-tile__title
                          a.news-tile__link(href="#") Вакансия водителя совмещением обязанностей электромонтёра
                        .content.news-tile__description
                          p АО «Псковэнергоагент» приглашает на работу водителя с совмещением обязанностей электромонтёра. Вакансия актуальна в следующих населенных пунктах: Псков, Великие Луки, Бежаницы, Красногородск, Локня, Остров, Палкино, Печоры, Плюсса, Порхов. Наше предложение: работа в крупной развивающейся компании, оформление по ТК РФ, все социальные гарантии, возможность карьерного роста, заработная плата от 20 000...
                        footer.news-tile__footer
                          a.btn.btn--theme-accent.btn--size-md.news-tile__footer-btn(href='#')
                            span.btn__inner
                              span.btn__titlte Читать дальше
                    article.news-tile.typical-section__news-item
                      .news-tile__inner
                        h3.news-tile__title
                          a.news-tile__link(href="#") Вакансия водителя совмещением обязанностей электромонтёра
                        .content.news-tile__description
                          p АО «Псковэнергоагент» приглашает на работу водителя с совмещением обязанностей электромонтёра. Вакансия актуальна в следующих населенных пунктах: Псков, Великие Луки, Бежаницы, Красногородск, Локня, Остров, Палкино, Печоры, Плюсса, Порхов. Наше предложение: работа в крупной развивающейся компании, оформление по ТК РФ, все социальные гарантии, возможность карьерного роста, заработная плата от 20 000...
                        footer.news-tile__footer
                          a.btn.btn--theme-accent.btn--size-md.news-tile__footer-btn(href='#')
                            span.btn__inner
                              span.btn__titlte Читать дальше
                    article.news-tile.typical-section__news-item
                      .news-tile__inner
                        h3.news-tile__title
                          a.news-tile__link(href="#") Вакансия водителя совмещением обязанностей электромонтёра
                        .content.news-tile__description
                          p АО «Псковэнергоагент» приглашает на работу водителя с совмещением обязанностей электромонтёра. Вакансия актуальна в следующих населенных пунктах: Псков, Великие Луки, Бежаницы, Красногородск, Локня, Остров, Палкино, Печоры, Плюсса, Порхов. Наше предложение: работа в крупной развивающейся компании, оформление по ТК РФ, все социальные гарантии, возможность карьерного роста, заработная плата от 20 000...
                        footer.news-tile__footer
                          a.btn.btn--theme-accent.btn--size-md.news-tile__footer-btn(href='#')
                            span.btn__inner
                              span.btn__titlte Читать дальше
                    article.news-tile.typical-section__news-item
                      .news-tile__inner
                        h3.news-tile__title
                          a.news-tile__link(href="#") Вакансия водителя совмещением обязанностей электромонтёра
                        .content.news-tile__description
                          p АО «Псковэнергоагент» приглашает на работу водителя с совмещением обязанностей электромонтёра. Вакансия актуальна в следующих населенных пунктах: Псков, Великие Луки, Бежаницы, Красногородск, Локня, Остров, Палкино, Печоры, Плюсса, Порхов. Наше предложение: работа в крупной развивающейся компании, оформление по ТК РФ, все социальные гарантии, возможность карьерного роста, заработная плата от 20 000...
                        footer.news-tile__footer
                          a.btn.btn--theme-accent.btn--size-md.news-tile__footer-btn(href='#')
                            span.btn__inner
                              span.btn__titlte Читать дальше

      include includes/footer.pug

    include includes/foot.pug